<ion-header>
  <ion-toolbar>
    <!-- <ion-title>topicModal</ion-title> -->
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let sub of subtopics" lines="full" (click)="onClick(sub)">
      <ion-label style="white-space: break-spaces;">{{sub}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
