<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <ion-row>
          <ion-col class="ion-text-end">
            <ion-button fill="clear" class="btn-grad1" (click)="onSkip()">
              SKIP
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-slides pager="true" mode="ios" (ionSlideDidChange)="slideChangeListener($event)">
          <ion-slide *ngFor="let img of imagesArr" style="display: flex; flex-direction: column; height: 662px !important;">
            <div>
              <img [src]="img" />
            </div>
            <ion-button expand="block" fill="clear" class="btn-grad1" *ngIf="activeSlide == 3" style="margin-top: -30%;">
              <a href="https://t.me/AdhyatmikPratiyogita" style="color: #fff;">Adhyatmik Pratiyogita</a>
            </ion-button>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col [size]="!isNextEnable ? 12 : 6" *ngIf="isBackEnable">
        <ion-button *ngIf="isBackEnable" (click)="slidePrev()" fill="outline" expand="block" color="warning">
          Back
        </ion-button>
      </ion-col>
      <ion-col [size]="!isBackEnable ? 12 : 6">
        <ion-button *ngIf="isNextEnable" (click)="slideNext()" expand="block" fill="clear" class="btn-grad2">
          {{activeSlide == 6 ? 'Get Started' : 'Next'}}
        </ion-button>
      </ion-col>
    </ion-row> 
  </ion-toolbar>
</ion-footer>
