<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popover</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item lines="full" detail>
      <ion-label>Add to Favourite</ion-label>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-label>Share this Doha</ion-label>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-label>Copy to Clipboard</ion-label>
    </ion-item>
    <ion-item lines="full" detail>
      <ion-label>Add Bookmark here</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
