.topHeader {
  transform: translateX(-50%) translateY(-50%);
  top: 70%;
  left: 50%;
  position: fixed;
  width: 100%;
  text-align: center;

  h3 {
    color: var(--ion-color-medium);
  }

  ion-button {
    margin-top: 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centerIMG {
  width: 80%;
}

.bg {
    --background: url('/assets/login_bg.png') no-repeat center center / cover;
}
