<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <div class="topHeader">
          <div class="logo">
            <ion-button expand="block" fill="clear" class="btn-grad" routerLink="/home" routerDirection="root">वाल्मीकि रामायण किताब</ion-button>
          </div>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="block" fill="outline" color="warning">धर्म सहयोगी</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="block" fill="outline" color="warning">एप्प का उद्द्येश</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="block" fill="outline" color="warning">हमसे जुड़े</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
