.btn-change {
  border-radius: 12px;
  height: 8vh !important;
  font-size: 16px;
  font-weight: bold;
}

.slok {
  line-height: 32px;
  background: linear-gradient(90deg, #ff8002 0%, #ffa102 48%, #ffbe02 100%);
  color: #fff;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 2%;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 2px;
}

.arth {
  background: var(--ion-color-light-shade);
  color: var(--ion-color-dark-shade);
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 19px;
}
