ion-card-header {
    background: linear-gradient(
    90deg,
    rgba(255, 128, 2, 1) 0%,
    rgba(255, 161, 2, 1) 48%,
    rgba(255, 190, 2, 1) 100%
  );
  color: #fff;
  font-size: larger;
  font-weight: bold;
}

ion-label {
    span {
        font-weight: bold;
        font-size: 25px;
    }
}