<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{chapter_name}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button color="warning" routerLink="/colors">
        <img src="../../assets/color-picker.png" width="24px"/>
      </ion-button> -->
      <ion-button color="warning" (click)="zoomIn()">
        <img src="../../assets/zoom-in.png" width="24px"/>
      </ion-button>
      <ion-button color="warning">
        <img src="../../assets/zoom-out.png" (click)="zoomOut()" width="24px"/>
      </ion-button>
      <ion-button color="warning">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="non-logged">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <ion-item lines="none" (click)="onModal()" *ngIf="!check_PathVidhi && !check_parayanVidhi">
          <ion-label slot="start" class="ion-margin-start">
            {{sub}}
          </ion-label>
          <ion-icon slot="end" name="caret-down"></ion-icon>
        </ion-item>
        <!-- pathvihi data -->
        <ion-list *ngIf="check_PathVidhi">
          <div class="body" *ngFor="let item of PathVidhiData; let i = index">
            <div *ngIf="item.slok" class="slok" [innerHTML]="item.slok"></div>
        
            <div class="arth" [innerHTML]="item.arth"></div>
        
            <div class="dark" *ngIf="i == 2">{{item.headline}}</div>
            <div class="dark" *ngIf="i == 5">{{item.headline}}</div>
        
        
          </div>
          <div class="arth">
            {{PathVidhipathvidhi_vinyogData.vinyog}}
          </div>
          <div class="slok">
            {{PathVidhipathvidhi_vinyogData.vinyog_slok}}
          </div>
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.arths">
            <div *ngIf="item.slok" class="arth">
              {{item.arth}}
            </div>
        
            <div *ngIf="item.arth" class="slok" [innerHTML]="item.slok"></div>
          </div>
          <div class="">
            {{PathVidhipathvidhi_vinyogData.headline}}
          </div>
          <div class="text-center" [innerHTML]="PathVidhipathvidhi_vinyogData.notice" style="font-size: 22px;"></div>
          <div class="text-center slok" [innerHTML]="PathVidhipathvidhi_vinyogData.abc"></div>
          <div class="arth">{{PathVidhipathvidhi_vinyogData.abc_arth}}</div>
          <div class="dark">{{PathVidhipathvidhi_vinyogData.heading1}}</div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.arths2">
            <div class="arth">
              {{item.arth}}
            </div>
            <div class="slok" [innerHTML]="item.slok"></div>
        
          </div>
          <div class="">
            {{PathVidhipathvidhi_vinyogData.headline2}}
          </div>
        
          <div class="dark">
            {{PathVidhipathvidhi_vinyogData.test}} <br /><br /> {{PathVidhipathvidhi_vinyogData.text1}}
          </div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.sunderKand">
            <div class="arth">
              {{item.arth}}
            </div>
            <div class="slok" [innerHTML]="item.slok"></div>
          </div>
        
          <div class="dark">{{PathVidhipathvidhi_vinyogData.arynyaKand_notice}}</div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.arynyaKand">
            <div class="arth">{{item.arth}}</div>
            <div class="slok" [innerHTML]="item.slok"></div>
          </div>
        
          <div class="">
            {{PathVidhipathvidhi_vinyogData.arynyaKand_endline}}
          </div>
          <div class="ion-text-center" style="font-size: 22px; font-weight: bold;">ध्यान</div>
          <div class="dark" [innerHTML]="PathVidhipathvidhi_vinyogData.arynyaKand_endline1"></div>
        
          <div class="dark">
            {{PathVidhipathvidhi_vinyogData.kiskindhaKand_notice}}
          </div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.kiskindhaKand">
            <div class="arth">{{item.arth}}</div>
            <div class="slok" [innerHTML]="item.slok"></div>
          </div>
        
          <div class="">
            {{PathVidhipathvidhi_vinyogData.kiskindhaKand_endline}}
          </div>
          <div class="ion-text-center" style="font-size: 22px; font-weight: bold;">ध्यान</div>
          <div class="dark" [innerHTML]="PathVidhipathvidhi_vinyogData.kiskindhaKand_endline1"></div>
        
          <div class="dark">
            {{PathVidhipathvidhi_vinyogData.sundarkand_notice}}
          </div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.sundarkand">
            <div class="arth">{{item.arth}}</div>
            <div class="slok" [innerHTML]="item.slok"></div>
          </div>
        
          <div class="arth">
            {{PathVidhipathvidhi_vinyogData.sunderkand_endline}}
          </div>
        
          <div class="arth" [innerHTML]="PathVidhipathvidhi_vinyogData.sunderkand_endline2"></div>
          <div class="arth" [innerHTML]="PathVidhipathvidhi_vinyogData.sunderkand_arth"></div>
          <div class="arth" [innerHTML]="PathVidhipathvidhi_vinyogData.sunderkand_arth2"></div>
        
          <div class="dark">
            {{PathVidhipathvidhi_vinyogData.landKand_notice}}
          </div>
        
          <div class="body" *ngFor="let item of PathVidhipathvidhi_vinyogData.lankaKand">
            <div class="arth">
              {{item.arth}}
            </div>
        
            <div class="slok" [innerHTML]="item.slok"></div>
          </div>
          <div class="">
            {{PathVidhipathvidhi_vinyogData.lanka_kand_note}}
          </div>
          <div class="ion-text-center" style="font-size: 22px;">ध्यान</div>
          <div class="slok">
            {{PathVidhipathvidhi_vinyogData.lanka_kand_arth}}
          </div>
          <div class="">
            {{PathVidhipathvidhi_vinyogData.lanka_kand_slok}}
          </div>
          <div class="">
            {{PathVidhipathvidhi_vinyogData.lanka_kand_abc}}
          </div>
          <div class="arth">
            {{PathVidhipathvidhi_vinyogData.lanka_kand_abc1}}
          </div>
        </ion-list>
        <!-- end pathvihi  data -->

        <!-- parayanVidhi data -->
        <ion-list  *ngIf="check_parayanVidhi">
          <app-path-vidhi></app-path-vidhi>
        </ion-list>
        <!-- end parayanVidhi data -->

        <!-- mahatmya data -->
        <ion-list  *ngIf="check_mahatmya">

          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth"  [ngStyle]="{'font-size': 8+'px'}">

              <div>
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div class="arth">
                  {{t.Arth}}
                </div>
              </div>

            </div>
          </div>  
        </ion-list>
        <!-- end mahatmya data -->

        <!-- balkand kand data -->
        <ion-list  *ngIf="check_balkand">

          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth"  [ngStyle]="{'font-size': 8+'px'}">

              <div (click)="onPopover($event, t.Shlok, t.Arth)">
                <div class="slok">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
              <hr>
              <div class="">
            
                <div class="text-dark">
                  {{t.samaapt_sarg}}
                </div>
                <div class="">
                  {{t.samaapt_arth}}
                </div>
              </div>
            </div>
          </div>  
        </ion-list>
        <!-- end balkand kand data -->

        <!-- ayodhya kand data -->
        <ion-list  *ngIf="check_ayodhyakhandData">
          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
            </div>
          </div>  
        </ion-list>
        <!-- end ayodhya kand data -->

        <!-- aryan kand data -->
        <ion-list  *ngIf="check_aryankand">
          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
              <hr>
              <div class="">
            
                <div class="text-dark">
                  {{t.samaapt_sarg}}
                </div>
                <div class="">
                  {{t.samaapt_arth}}
                </div>
              </div>
            </div>
          </div>  
        </ion-list>
        <!-- end aryan kand data -->


        <!-- data KisKindhaKandData -->
        <ion-list  *ngIf="check_KisKindhaKand">
          <div class="body" *ngFor="let item of temp_arr">
            <h3>{{item.Adhyay}}</h3>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
              <hr>
              
            </div>
          </div>  
        </ion-list>
        <!-- end data KisKindhaKandData -->

        <!-- sunder kand data  -->
        <ion-list  *ngIf="check_sunderkand">
          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
              <hr>
              <div class="">
            
                <div class="text-dark">
                  {{t.samapt_sarg}}
                </div>
                <div class="">
                  {{t.samapt_Arth}}
                </div>
              </div>
            </div>
          </div>  
        </ion-list>
        <!-- end sunder kand data  -->

         <!-- lanka kand data  -->
         <ion-list  *ngIf="check_yudhkand">
          <div class="body" *ngFor="let item of temp_arr">
            <h1 class="ion-text-center">{{item.Adhyay}}</h1>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.Shlok}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.Arth}}
                </div>
              </div>
              <hr>
              <div class="">
            
                <div class="text-dark">
                  {{t.samapt_sarg}}
                </div>
                <div class="">
                  {{t.samapt_Arth}}
                </div>
              </div>
            </div>
          </div>  
        </ion-list>
        <!-- end lanka kand data  -->

        <!-- utar kand data  -->
        <ion-list  *ngIf="check_utarkand">
          <div class="body" *ngFor="let item of temp_arr">
            <h3>{{item.Title}}</h3>
            <h1>{{item.Summary}}</h1>
            <div *ngFor="let t of item.arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)">{{t.dhoha}}</div>
                <div  class="arth" *ngIf="showArth">
                  {{t.arth}}
                </div>
              </div>
              <hr>
              
            </div>
          </div>  
        </ion-list>
        <!-- end utar kand data  -->

        <!-- stuti data -->
        <ion-list  *ngIf="check_stuti">
          <div class="body" *ngFor="let item of temp_arr">
            <h3>{{item.Adhyay}}</h3>
            <!-- <h1>{{item.Summary}}</h1> -->
            <div *ngFor="let t of item.Arth" >

              <div>
                <div class="slok"  *ngIf="t.Shlok" (click)="onPopover($event)" [innerHTML]="t.Shlok"></div>
                <div  class="arth" *ngIf="t.Arth">
                  {{t.Arth}}
                </div>

                <div class="dark" *ngIf="t.heading">{{t.heading}}</div>
                <div class="slok" *ngIf="t.Doha" (click)="onPopover($event)" [innerHTML]="t.Doha"></div>
                <div class="dark" *ngIf="t.heading1">{{t.heading1}}</div>
                <div class="slok" *ngIf="t.Chhand" (click)="onPopover($event)" [innerHTML]="t.Chhand"></div>
                <div class="dark" *ngIf="t.heading2">{{t.heading2}}</div>
                <div class="slok" *ngIf="t.Sortha" (click)="onPopover($event)" [innerHTML]="t.Sortha"></div>
              </div>
              <hr>
              
            </div>
          </div>  
        </ion-list>
        <!-- end data StutiData -->

        <!-- aarti data -->
        <ion-list *ngIf="check_aarti">
          <div class="body" *ngFor="let item of temp_arr">
            <h3>{{item.Adhyay}}</h3>
            <div *ngFor="let t of item.Arth" >

              <div >
                <div class="slok"  (click)="onPopover($event)" [innerHTML]="t.Shlok"></div>
              </div>
              <hr>
              
            </div>
          </div> 
        </ion-list>
        <!-- end aarti data -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="opacity: 0.8;" *ngIf="check_balkand || check_ayodhyakhandData || check_aryankand || check_KisKindhaKand || check_sunderkand || check_utarkand || check_yudhkand">
    <ion-fab-button (click)="onToggle()">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="!check_PathVidhi && !check_parayanVidhi">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="warning" fill="clear">
          <ion-icon name="play-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" fill="clear" (click)="previousSarg()">
          <ion-icon name="caret-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" fill="clear" (click)="nextSarg()">
          <ion-icon name="caret-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning" fill="clear">
          <ion-icon name="play-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
