<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>{{heading}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" (click)="zoomIn()">
        <img src="../../assets/zoom-in.png" width="24px"/>
      </ion-button>
      <ion-button color="warning">
        <img src="../../assets/zoom-out.png" (click)="zoomOut()" width="24px"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3">
        <div *ngIf="paramData == 'sahyogi'">
          <p>
            <strong
              >"ग्रन्थ-वचन" टीम विगत कई वर्षों से, सोशल मीडिया को माध्यम बनाकर,
              धर्म का प्रचार, प्रसार व सनातन धर्म के ग्रंथों में छुपे रहस्यों,
              जानकारियों, दुर्लभ ज्ञान को, एवं समाज मे फैली भ्रांतियों,
              त्रुटियों को दूर करने का यथा सम्भव प्रयास कर रही है।</strong
            ><br />इसी धर्म प्रयास के क्रम में, ग्रन्थ-वचन ने, उनके प्लेटफार्म
            से जुड़े निःस्वार्थ भाव वाले धर्म प्रेमियों के सहयोग से,
            <strong>"श्री बाल्मीकि-रामायण जी"</strong> का App निर्माण करवाया है।
            <strong
              >जिससे भारत वर्ष के प्रत्येक नागरिक के हाथों में, भगवान श्रीराम जी
              की लीला-कथाओं का, ज्ञान व कृपा से भरा यह पवित्र ग्रन्थ, उनकी हाथों
              में ओर उनकी पहुँच में हो, जिसका वह, जब चाहे अध्ययन कर, लाभ उठा
              सके।</strong
            >
          </p>
          <p>
            और <br /><strong
              >इस पावन पवित्र कार्यो में जिन्होंने निःस्वार्थ भाव से सहयोग किया
              है, ग्रन्थ-वचन उन सभी को बारम्बार धन्यवाद करता है और हम प्रभु से
              प्रार्थना करते है कि, आप सब यूं ही प्रभु श्रीराम जी के काज करते
              हुए धर्म लाभ उठाते हुए पुण्य के भागी बने और अपने जीवन को राममय व
              सुखमय बनाते रहे।</strong
            >
          </p>
          <div class="btn-grad" style="height: auto !important; padding: 2%;">
            <strong>श्री बाल्मीकि-रामायण" App के निर्माण सहयोगियों के नाम</strong>
          </div>
          <p><strong>श्री बाल्मीकि-रामायण APP के निर्माण में सहयोगियों के नाम ग्रंथ-वचन व टीम</strong></p>
          <p>
            पण्डित श्री दीपेश शास्त्री जी(नर्मदापुरम, म०प्र०) <br />(ग्रंथ वचन व आध्यात्मिक प्रतियोगिता संयोजक एवं संचालक)
          </p>
          <p>श्री केवल कृष्ण जी (APP निर्माता)</p>
          <p>
            श्री राकेश वर्मा जी (दिल्ली) <br />
            श्री अशोक यादव जी(नर्मदापुरम, म०प्र०) <br />
            श्री लाभेन्द्र सिंह ठाकुर जी(रायसेन, म०प्र०) <br />
            श्री लालचंद उपाध्याय जी(बीकानेर, राजस्थान) <br />
            श्री लीलाधर पंचारिया जी(बीकानेर, राजस्थान) <br />
            श्री श्रीराम पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री राजेन्द्र सिंह ठाकुर जी(रायसेन, म०प्र०) <br />
            श्री विजय साहू जी(नर्मदापुरम, म०प्र०) <br />
            श्री हरिश्चन्द्र चौरे जी(नर्मदापुरम, म०प्र०) <br />
            श्री अश्वनी बड़कुर जी(नर्मदापुरम, म०प्र०) <br />
            श्रीमति पायल पटेल जी(रायसेन, म०प्र०) <br />
            श्रीमति रश्मि परसाई जी(नर्मदापुरम, म०प्र०) <br />
            श्री गब्बर सिंह पटेल जी(भोपाल, म०प्र०) <br />
            श्री महेश कुमार तिवारी जी(नर्मदापुरम, म०प्र०) <br />
            श्री साहब सिंह ठाकुर जी(नर्मदापुरम, म०प्र०) <br />
            श्री रविन्द्र सिंह ठाकुर जी(रायसेन, म०प्र०) <br />
            श्री राजीव पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री छोटू भैया गुर्जर जी(नर्मदापुरम, म०प्र०) <br />
            श्री ओमप्रकाश पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री दौलत सिंह ठाकुर जी(रायसेन, म०प्र०) <br />
            श्री राकेश शर्मा जी(हरियाणा) <br />
            श्री दुर्गेश चौधरी जी(नर्मदापुरम, म०प्र०) <br />
            श्री कन्हैयालाल पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री राजीव पाठक जी(कोलकाता, पश्चिम बंगाल) <br />
            श्री कमलेश पाठक जी(कोलकाता, पश्चिम बंगाल) <br />
            श्री राजेश पटेल जी(सीहोर, म०प्र०) <br />
            श्री राजेश गुर्जर जी(नरसिंहपुर, म०प्र०) <br />
            श्री हरिओम शर्मा जी(अलीगढ़, उ०प्र०) <br />
            श्रीमति मधु मालवीय जी(नर्मदापुरम, म०प्र०) <br />
            श्री राजेन्द्र सिंह चौधरी जी(नर्मदापुरम, म०प्र०) <br />
            श्री कृष्ण कुमार ठाकुर जी(नर्मदापुरम, म०प्र०) <br />
            श्री रामगोपाल पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री गिरधर सिंह पटेल जी(रायसेन, म०प्र०) <br />
            श्री शिवजी चौधरी जी(नर्मदापुरम, म०प्र०) <br />
            श्री बड्डा पटेल जी(रायसेन, म०प्र०) <br />
            श्री मोनू यादव जी(नर्मदापुरम, म०प्र०) <br />
            श्री आजाद बावरिया जी(नर्मदापुरम, म०प्र०) <br />
            श्री केशव पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री कमलेश साहू जी(नर्मदापुरम, म०प्र०) <br />
            श्री दीपक पटेल जी(नरसिंहपुर, म०प्र०) <br />
            श्री रघुवीर सिंह ठाकुर जी(नर्मदापुरम, म०प्र०) <br />
            श्री नर्मदा प्रसाद शास्त्री जी(नर्मदापुरम, म०प्र०) <br />
            श्री कृष्ण कुमार ठाकुर जी(रायसेन, म०प्र०) <br />
            श्री नारायण प्रसाद चौरे जी(नर्मदापुरम, म०प्र०) <br />
            श्री खिलन सिंह पटेल जी(नर्मदापुरम, म०प्र०) <br />
            श्री हरि सिंह बैस जी(रायसेन, म०प्र०) <br />
            श्री श्रीकांत पांडेय जी(नर्मदापुरम, म०प्र०) <br />
            श्री मनीष साहू जी (नर्मदापुरम, म०प्र०) <br />
            श्री दशरथ सिंह ठाकुर जी(नर्मदापुरम, म०प्र०) <br />
            श्री अनुरुद्ध कौरव जी(नरसिंहपुर, म०प्र०) <br />
            श्री संदीप साहू जी(नरसिंहपुर, म०प्र०)
          </p>
          <p class="grad-txt">
            <strong
              >आप सभी सहयोगियों को बहुत बहुत साधुवाद व कोटि कोटि
              धन्यवाद 🙏🏻 🚩</strong
            >
          </p>
          <p class="ion-text-end">टीम<br /><strong>(ग्रन्थ-वचन)</strong></p>
        </div>
        <div *ngIf="paramData == 'app'">
          <p style="text-align: center" class="grad-txt">
            <strong>।। जय श्री राम ।। ।। जय बजरंग बली।।</strong>
          </p>
          <p>
            <strong
              >धर्म-प्रेमियों के मन मे अक्सर प्रश्न आता है कि, श्री
              बाल्मीकि-रामायण App के निर्माण का क्या उद्देश्य है...?</strong
            >
          </p>
          <p>
            प्रभु श्रीराम जी के चरणकमलों का ध्यान करते हुए, आपको अवगत कराते हुए
            बहुत अधिक हर्ष हो रहा है कि, <br /><strong
              >*आज के समय मे, अर्थात कलयुग में, जिधर देखेंगे, जहां तक
              देखेंगे..., स्वयं सनातनियो का, हमारे धर्म के धार्मिक ग्रंथों से
              दूरी थोड़ी अधिक बढ़ी हुई प्रतीत होती है, आज के समय मे प्रभु
              श्रीराम जी की लीलाकथाओं एवं धर्म ग्रंथों में जो सार, जो ज्ञान, जो
              मनुष्य जीवन के लिये कल्याणकारी निर्देश, दुर्लभ ज्ञान है, उनसे
              मनुष्य की दूरी होती जा रही है।</strong
            ><br />जिस कारण, आज के समय मे मनुष्य, सब सुख-सुविधाओं के प्राप्त
            होने के बाद भी, कही ना कही खुद को कमजोर अथवा दुखी या यूं कहें, खुद
            पर प्रभु कृपा की कमी महसूस करता है।<br /><strong
              >चूंकि भगवान स्वयं कहते है कि धर्म ग्रंथों, रामायण इत्यादि पढ़ने
              से, सुनने से व कथन से भी, प्रभु की कृपा व पुण्यों की प्राप्ति होती
              है।</strong
            >
          </p>
          <p>
            ब्रह्मऋषि सनकादि श्रीमद्भागवत महापुराण में कहते हैं....<br /><strong
              >श्लोकार्धं श्लोकपादं वा नित्यं भागवतोद्भवम्।</strong
            ><br /><strong>पठस्व स्वमुखेनैव यदीच्छसि परां गतिम्॥</strong>
          </p>
          <p>
            अर्थ :- यदि आपको परम गति की इच्छा है तो अपने मुख से ही श्रीमद्भागवत
            के आधे अथवा चौथाई श्लोक का भी नित्य नियम पूर्वक पाठ कीजिये॥<br /><em
              >श्रीमद्भागवत पुराण का ही नही किसी भी ग्रंथ का यदि मनुष्य प्रतिदिन
              एक श्लोक या उसका आधा श्लोक पड़ता है तो उसका कल्याण सुनिश्चित
              है।</em
            >
          </p>
          <p>
            हम सभी बढ़े भाग्यशाली हैं क्योंकि मुक्ति प्राप्त कराने बाला यह मानव
            तन हमे प्राप्त हुआ है इस जीवन को ऐसे ही नष्ट नहीं होने देना है।
          </p>
          <p>
            देवर्षि नारद जी श्रीमद्भागवत महापुराण में कहते हैं....<br /><strong
              >भाग्योदयेन बहुजन्मसमर्जितेन</strong
            ><br /><strong>
              सत्सङ्गमं च लभते पुरुषो यदा वै। अज्ञानहेतुकृतमोहमदान्धकार</strong
            ><br /><strong> नाशं विधाय हि तदोदयते विवेकः॥</strong>
          </p>
          <p>
            अर्थ :- जब अनेकों जन्मों के संचित पुण्यपुञ्ज का उदय होने से मनुष्य
            को सत्सङ्ग मिलता है, तब वह उसके अज्ञानजनित मोह और मदरूप अन्धकार का
            नाश करके विवेक उदय होता है॥
          </p>
          <p>
            <em
              >अर्थात अनेकों जन्मों के बाद यह मनुष्य तन प्राप्त होता है और उसमें
              अभी अनेकों जन्मों के पुण्य पुंज जब मिलते हैं तब कहीं जाकर हमें
              मुक्ति प्रदान कराने बाले ऐसे सद्ग्रन्थों को पढ़ने का सौभाग्य
              प्राप्त होता है अतः अपना कल्याण चाहने बाले प्रत्येक भक्त को चाहिए
              वह नित्य प्रतिदिन ग्रंथों का अध्यन व अवलोकन करें।</em
            >
          </p>
          <p>
            इसी प्रयोजन से हम यह बाल्मीकि रामयण एप्स आप सभी के समक्ष लेकर आये
            हैं ताकि इस अमृतसुधा का सभी भक्त प्रेमी जन रसास्वादन कर सकें....
          </p>
          <p>
            <strong>तत्कथासु तु वेदार्थः श्लोके श्लोके पदे पदे॥</strong
            ><br />क्योंकि उस कथाके प्रत्येक श्लोक और प्रत्येक पद में भी वेदों
            का ही तो सारांश है॥
          </p>
          <p>
            अतः<br /><strong
              >ग्रन्थ-वचन व उनकी टीम का, प्रभु श्रीराम जी की अनुकम्पा से यह
              "श्री बाल्मीकि-रामायण" का App निर्माण किया गया है, जिससे आप, बिना
              किसी समस्या के, अपने घर बैठकर, यात्राओं में या, जब भी आपको समय
              मिले, प्रभु श्रीराम जी की लीला-कथाओं को पढ़कर, अपना जीवन व अपने
              स्वजनों के जीवन के लिये कल्याणकारी प्रभु कृपा दृष्टि प्राप्त कर
              सके।</strong
            >
          </p>
          <p>
            धर्म मनुष्य मे जीवन के महत्व को स्पष्ट करता है, पवित्र भावनाओं को
            पैदा करता है एवं मानसिक तनाव व चिन्ताओं से दूर रखकर गलत, समाज विरोधी
            व धर्म विरोधी कार्यों के प्रति घृणा को पैदा करता है। इस तरह धर्म
            व्यक्ति के व्यक्तित्व का विकास करता है एवं उसे सुख समृद्धि हेतु
            धार्मिक नियमों के अनुरूप आचरण के लिए प्रेरित करता है।
          </p>
          <p>
            धर्म के नियमों पर चलने के उपरांत मानव हृदय निर्मल हो जाता है तथा इस
            स्थिति में करुणा जन्म लेती है। करुणा के कारण दया व क्षमा का भाव
            जाग्रत होता है। इन दोनों गुणों के कारण मानव, मानव से प्रेम करने लगता
            है व दूसरों को दुख से निकालने की कोशिश करने लगता है। ... पहले समाज
            में अग्रणी लोगों में दया व दान की भावना थी।<br />हमारा सनातन-धर्म
            हमें जीने का तरीका सिखाता है ।
            <strong
              >हम कैसे जीते है, कैसे खाते हैं, क्या खाते हैं, क्या सोचते है और
              कैसे सोचते है।</strong
            >
            ये सब हमारे धर्म पर निर्भर करता है।
            <strong
              >धर्म हमें विश्वास करना सिखाता है। धर्म दया है, धर्म क्षमा है,
              विनम्र है, सहनशील है, परोपकार है।</strong
            >
          </p>
          <p>
            भगवान श्रीकृष्णजी ने धर्म के पांच आधार बताये है <br /><strong
              >ज्ञान, प्रेम, न्याय, समर्पण और धीरज।</strong
            ><br />
            प्रत्येक मनुष्य का जन्म इन 5 आधारों को प्राप्त करने के लिए होता
            है।<br />जिसमे से,
            <strong
              >हम " पवित्र रामकथा, श्रीरामचरितमानस, श्री बाल्मीकि-रामायण
              (प्रस्तुत App), चारों वेद, शास्त्र, उपनिषद, 18 पुराण, महाभारत,
              श्रीमदभागवत-गीता एवं अन्य धर्म गर्न्थो के माध्यम से, भगवान के बताए
              पहले आधार..."ज्ञान"</strong
            >
            देने का प्रयास कर रहे है, वो भी बहुत साधारण व सरल तरीके वाली
            <strong>आध्यात्मिक-प्रत्तियोगिता</strong> के माध्यम से।<br />
          </p>
          <div class="ion-text-center">
            <span>
              <a href="https://t.me/AdhyatmikPratiyogita" class="btn-grad">Adhyatmik Pratiyogita</a>
            </span>
          </div>
          <p>
            <strong>(इस पर क्लिक करके, सीधे टेलीग्राम-समूह से जुड़े)</strong>
          </p>
          <p class="grad-txt">
            इस आध्यात्मिक प्रतियोगिता के माध्यम से हम, सम्पूर्ण भारतवर्ष ही नही,
            बल्कि समस्त विश्वभर के सनातन प्रेमियों को इससे जोड़ना चाहते है
            जिससे, सम्पूर्ण विश्व मे <strong>सनातन-धर्म</strong> की ध्वज पताका
            लहराए और, देश-दुनिया के अधिक से अधिक धर्म प्रेमी, धर्म के मूल आधार
            को समझे, आत्मसात करके, अपने जीवन को प्रभु के श्री चरणों मे समर्पित
            करते हुए, अपना व अपने स्वजनों का कल्याण करवाने में सहायक सिद्ध
            हो।<br /><strong
              >आशा ही नही, बल्कि हमे पूर्ण विश्वास है कि, आपके जीवन मे यह "श्री
              बाल्मीकि-रामायण App, कल्याणकारी सिद्ध होगा और आप इस App को अपने
              अन्य स्वजनों व जानने वालों को भी प्रेषित करेंगे अर्थात डाउनलोड
              करवाएंगे, जिससे उनके भी जीवन मे कल्याण ही कल्याण, अनान्द ही अनान्द
              हो।</strong
            ><br />इन्ही शुभेच्छाओ के साथ, टीम
            <strong>"ग्रन्थ-वचन"</strong> आपका आभार व्यक्त करती है।
          </p>
          <p style="text-align: center">
            <strong>।।जय श्री राम।। ।। जय बजरंग बली।।</strong>
          </p>
        </div>
        <div *ngIf="paramData == 'join'">
          <p style="text-align: center" class="grad-txt">
            <strong>।। मर्यादा पुरुषोत्तम प्रभु श्री राम की जय।।</strong>
          </p>
          <p style="text-align: left">
            <br />परमपवित्र श्री हरि के चरणकमलों में, यह "श्री बाल्मीकि रामायण"
            App को समर्पित करते हुए, बड़े ही हर्ष के साथ आपको जानकारी दे रहे है
            कि आप हमसे सीधे, नीचे लिखे माध्यमो के साथ जुड़ सकते है,
            <br /><strong
              >नीचे दिए बटन पर क्लिक करके आप हमसे, सीधे टेलीग्राम से
              जुड़े</strong
            ><br /><span
              ><a href="https://t.me/AdhyatmikPratiyogita" class="btn-grad">AdhyatmikPratiyogita</a></span
            ><br /><strong>इस बटन के द्वारा आप सीधे,You Tube से जुड़े</strong
            ><br /><span
              ><a href="https://youtube.com/channel/UCL5YQBvsefUKXvUChBVQtVA" class="btn-grad">YouTube</a></span
            ><br /><strong>यहां क्लिक करके आप, Facebook से जुड़े</strong
            ><br /><span
              ><a href="https://www.facebook.com/granthvachan/" class="btn-grad">FB Granth Vachan</a></span
            >
          </p>
          <p>
            <strong
              >हमारा सीधा, सरल व एक मात्र उद्देश्य है कि हम, सम्पूर्ण भारतवर्ष
              के साथ साथ, पूरे विश्व के सनातन-धर्म प्रेमियों को, धर्म के इस अथाह
              सागर से, सोशल मीडिया के माध्यम से जोड़कर उनके जीवन मे, अध्यात्म
              बीज अंकुरित कर, उनके जीवन का कल्याण, उनके ही माध्यम से सुलभ
              करावें।</strong
            >
          </p>
          <p>
            <strong
              >ग्रन्थ-वचन" व उनकी टीम, विगत कई वर्षों से, Whats App, Facebook,
              टेलीग्राम, You Tube, इंस्टाग्राम जैसे सोशल मीडिया के प्लेटफार्मों
              पर, निःशुल्क, प्रभु श्रीराम जी की राम-कथाओं एवं चारों वेद,
              शास्त्र, उपनिषद, श्रीमदभगवत-गीता, 18 पुराण एवं सम्पूर्ण रामायण आदि
              अनेकों धर्म-गर्न्थो का, बहुत ही सरल माध्यम से अध्ययन करवाते हुए,
              उन्हें धर्म ग्रन्थों द्वारा प्रदत्त ज्ञान, जानकारियां प्रदान करवा
              रहे है और समाज मे फैली भ्रांतियां एवं त्रुटियों को दूर करने का
              प्रयास कर रहे है।</strong
            >
          </p>
          <p>
            <strong
              >प्रभु श्रीराम जी से जुड़ी पवित्र "राम-कथा" पर आधारित सम्पूर्ण
              रामायण महाकाव्य एवं चारों वेद, शास्त्र, उपनिषद, 18 पुराण, महाभारत
              तथा श्रीमद्भगवत गीता एवं अन्य सभी धर्म ग्रंथों से, ग्रंथों में
              छुपे दुर्लभ रहस्यों, ज्ञान इत्यादि के लिए *टेलीग्राम</strong
            >
            पर, प्रतियोगिता के माध्यम से, ज्ञानवर्धन नित्यप्रतिदिन कराया जाता
            है।<br />इस "अध्यात्मिक-प्रतियोगिता" से जुड़ने के लिये, नीचे दिए गए
            बटन पर क्लिक करके आप, सीधे टेलीग्राम से जुड़कर, धर्म ज्ञान लाभ उठा
            सकते हैं।
          </p>
          <p>
            <span 
              ><a href="https://t.me/AdhyatmikPratiyogita" class="btn-grad">AdhyatmikPratiyogita</a></span
            >
          </p>
          <p>
            इसके अतिरिक्त, आप हमारे नीचे दिए गए You Tube वाले बटन पर क्लिक करके,
            सीधे You Tube चैनल से जुड़ जाए, वहां आपको बहुत ही सरल माध्यम से,
            दुर्लभ जानकारियां मिलेंगी।<br />
            <br /><strong>Our youtube Channel</strong><br /><span
              ><a href="https://youtube.com/channel/UCL5YQBvsefUKXvUChBVQtVA" class="btn-grad">YouTube</a></span
            ><br />
            <br />आप हमारे Facebook Page से भी जुड़ सकते है।<br />
            <strong>Our Facebook Page</strong><br /><span
              ><a href="https://www.facebook.com/granthvachan/" class="btn-grad">FB GranthVachan</a></span
            >
          </p>
          <p>
            <strong
              >ग्रन्थ-वचन" व टीम आपसे निवेदन करती है कि, आप हमसे उपरोक्त माध्यमो
              से जुड़े तथा यह App अपने सभी जानने वालों के साथ साझा (Share) करे
              और साथ ही, उन सभी धर्म प्रेमियों को हमारे, टेलीग्राम, फेसबुक, You
              Tube आदि माध्यमो से भी जुड़वाए ताकि सनातन धर्म की सम्पूर्ण जानकारी
              प्रत्येक सनातनी तक पहुँच सकें और हमारे प्लेटफार्मों से मिलने वाले
              प्रभु कृपा प्रसाद का अपने निजी जीवन मे स्वंम सुखद अनुभव
              करें।</strong
            >
          </p>
          <p class="grad-txt">
            हमारा यह प्रयास कैसा है, इसके लिये आपके सभी प्रकार के सद्विचार
            आमंत्रित है।
          </p>
          <p style="text-align: center"><strong>।। जय जय सियाराम ।।</strong></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
