/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~ionic-color-picker/dist/assets/css/styles";


.non-logged {
    --background: url('/assets/bg.png');
}

.btn-grad {
  background: linear-gradient(
    90deg,
    rgba(255, 128, 2, 1) 0%,
    rgba(255, 161, 2, 1) 48%,
    rgba(255, 190, 2, 1) 100%
  );
  color: #fff;
  border-radius: 12px;
  height: 8vh !important;
  font-size: 16px;
  font-weight: bold;
}

a.btn-grad {
  background: linear-gradient(
    90deg,
    rgba(255, 128, 2, 1) 0%,
    rgba(255, 161, 2, 1) 48%,
    rgba(255, 190, 2, 1) 100%
  );
  color: #fff;
  border-radius: 12px;
  height: 8vh !important;
  font-size: 16px;
  font-weight: bold;
  padding: 1.2%;
}

ion-popover {
    --width: fit-content !important;
}

.home-page-modal {
  --background: rgba(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(6px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 30vh;
    --padding-left: 20px;
    --padding-right: 20px;
    .bordered {
      border-radius: 8px;
    }
  }
}

.slok {
  line-height: 32px;
  background: linear-gradient(90deg, #ff8002 0%, #ffa102 48%, #ffbe02 100%);
  color: #fff;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 2%;
  font-weight: 600;
  font-size: 19px;
  // letter-spacing: 2px;
}

.arth {
  color: var(--ion-color-dark-shade);
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 19px;
}