
<div class="dark">
  {{pathvidhiData.heading}}
</div>
<div class="arth">
  {{pathvidhiData.arth}}
</div>
<div class="slok">
  {{pathvidhiData.arth1}}
</div>
<div class="arth">
  {{pathvidhiData.slok2}}
</div>

<div class="arth">
  {{pathvidhiData.end_line}}
</div>
<div class="slok">
  {{pathvidhiData.slok3}}
</div>
<div class="dark">
  {{pathvidhiData.pooja_note}}
</div>
<div class="body" *ngFor="let item of pathvidhiData.pooja_sloks">
  <div class="arth">
    {{item.slok}}
  </div>
  
  <div class="slok">
    {{item.arth}}
  </div>
</div>  
{{pathvidhiData.pooja_note2}}

<div class="body" *ngFor="let item of pathvidhiData.pooja_sloks">
  <div class="arth">
    {{item.slok}}
  </div>
  
  <div class="slok">
    {{item.arth}}
  </div>
</div>  
<div class="slok">
  {{pathvidhiData.pooja_slok_note}}
</div>
<div class="dark">
  {{pathvidhiData.note}}
</div>
<div class="arth">
  {{pathvidhiData.valmikiRamayan}}
</div>
<div class="arth">
  {{pathvidhiData.valmikiRamayan_note}}
</div>

<div class="body" *ngFor="let item of pathvidhiData.yogs">
  <div *ngIf="item.title" class="dark">
    {{item.title}}
  </div>
  
  <div *ngIf="item.slok" class="arth">
    {{item.slok}}
  </div>
    
  <div *ngIf="item.note" class="slok">
    {{item.note}}
  </div>

</div>  
<div class="body" *ngFor="let item of pathvidhiData.ramyana_kavach1">
  <div *ngIf="item.arth" class="dark">
    {{item.arth}}
  </div>
  
  <div *ngIf="item.slok" class="arth">
    {{item.slok}}
  </div>

  <div *ngIf="item.note" class="arth">
    {{item.note}}
  </div>
</div>  