<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Valmiki <ion-text color="warning">Ramayan</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="non-logged">
  <ion-grid>
    <ion-row *ngIf="fav.length">
      <ion-col size-xl="6" offset-xl="3">
        <div class="slok" *ngFor="let slok of fav" (click)="onPopover($event)">{{slok}}</div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!fav.length">
      <ion-col size-xl="6" offset-xl="3" class="ion-text-center">
        <h1>No Favourite list found.</h1>
      </ion-col>    
    </ion-row>
  </ion-grid>
</ion-content>
